.mainBtn {
    font-weight: 600;
    color: $white;
    background-position: 100% 0;
    background-image: linear-gradient(to right, $theme1, $theme2);
    box-shadow: 0 4px 15px 0 rgba($theme1, 0.5);
    transition: all ease-in-out 0.4s;
    padding: 0.5rem 1rem;
    box-shadow: none;
    text-decoration: none;
    color: $white;
    border: none;
    border-radius: 50px;
    &:hover{
    background-image: linear-gradient(to right, rgba($theme1, 0.8), rgba($theme2, 0.8));
    }
    &.googleBtn {
        background: transparent;
        color: $black;
        border: 1px solid rgba($theme1, 0.5);
    }
}


.opetionBtn {
    background-color: $white;
    border: 1px solid $black;
    font-weight: 600;
    transition: all ease-in-out 0.3s;
    color: rgba($black, 0.8);
    &:hover{
        color: $theme2;
        border-color: $theme1;
    }
}









