.themBtn {
    border: 1px solid $gray-200;
    box-shadow: none;
    outline: none;
    background-color: rgba($primary, 0.1);
    font-size: 14px;
    padding: 6px 24px 6px 24px;
    border-radius: 2em;
    position: relative;
    overflow: hidden;
    transition: all 0.5s ease-in-out;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $theme2;
    &::before{
        content: "";
        position: absolute;
        height: 0%;
        left: 50%;
        top: 50%;
        width: 150%;
        z-index: -1;
        -webkit-transition: all 0.5s ease-in-out;
        -moz-transition: all 0.5s ease-in-out;
        -o-transition: all 0.5s ease-in-out;
        transition: all 0.5s ease-in-out;
        -webkit-transform: translateX(-50%) translateY(-50%) rotate(-25deg);
        transform: translateX(-50%) translateY(-50%) rotate(-25deg);
        background-color: $theme2;
    }
    &:hover{
        z-index: 1;
        color: $white;
        &::before{
            height: 300%;
        }
    }
}