@charset "UTF-8";
// .aboutSection {
//     & .aboutLeft {
//         & .aboutpara {
//             font-size: 14px;
//             color: lighten($black, 50);
//             line-height: normal;
//         }
//         // & .aboutparatwo {
//         //     font-size: 15px;
//         //     color: lighten($black, 55);
//         // }
//         & .aboutCard {
//             & .aboutCardIcon {
//                 width: 60px;
//                 height: 60px;
//                 & .aboutcardimg {
//                     transition: all 0.3s ease-in-out;
//                 }
//             }
//             & .aboutCardtitle {
//                 font-size: 24px;
//                 color: $black;
//             }
//             & .aboutCardpara {
//                 font-size: 14px;
//                 color: lighten($black, 50);
//             }
//             & .readmore {
//                 height: 50px;
//                 width: 50px;
//                 background: lighten($black, 80);
//                 transition: all 0.3s ease-in-out;
//                 & .rightArrow {
//                     height: 11px;
//                     width: 25px;
//                     & img {
//                         transition: all 0.3s ease-in-out;
//                     }
//                 }
//                 &:hover {
//                     background-color: lighten($black, 70);
//                     & .rightArrow {
//                         & img {
//                             filter: invert(1);
//                         }
//                     }
//                 }
//             }
//             &:hover {
//                 & .aboutCardIcon {
//                     & .aboutcardimg {
//                         transform: rotateY(180deg);
//                     }
//                 }
//             }
//         }
//     }
// }
.about-us {
    & .about-left {
        & .about-title2 {
            font-size: 14px;
            font-weight: 200;
            color: $black;
            line-height: 24px;
        }
        & .about-card {
            & .about-card-icon {
                height: 26px;
                // width: 30px;
                & img {
                    transition: all 0.3s ease-in-out;
                }
            }
            & .about-card-heading {
                font-size: 16px;
                color: $theme2;
                transition: all 0.3s ease-in-out;
                &:hover {
                    color: $black;
                }
            }
            & .about-card-title {
                font-size: 14px;
                color: $black;
            }
            &:hover {
                & .about-card-icon {
                    & img {
                        transform: rotateY(180deg);
                    }
                }
            }
        }
    }
    & .about-us-img {
        max-width: 440px;
        // max-height: 521px;
        &::before {
            content: '';
            position: absolute;
            top: 20px;
            right: 0;
            bottom: 20px;
            height: 94%;
            width: 100%;
            background-color: $black;
            z-index: -1;
            transform: rotate(4deg);
        }
        &::after {
            content: '';
            position: absolute;
            z-index: -1;
            background: url(../img/mohit/about-dot.png) no-repeat;
            top: -10%;
            right: -20%;
            height: 190px;
            width: 190px;
        }
        & .about-img-content-main {
            padding: 30px 35px;
            right: -38px;
            bottom: 14%;
            &::before {
                content: '';
                position: absolute;
                right: 0;
                top: 100%;
                height: 40px;
                width: 40px;
                z-index: -1;
                background-color: $black;
                clip-path: polygon(0 0, 0 100%, 100% 0);
            }
            & .about-year {
                font-size:40px;
                color: $theme1;
                line-height: 10px;
                & sup {
                    font-size: 28px;
                    right: 5px;
                    top: -0.3em;
                }
            }
            & .about-experience {
                font-size: 12px;
                color: $theme1;
                line-height: 14px;
            }
        }
    }
}

// Small devices (landscape phones, 576px and up)
@mixin aboutus-mixin-min-sm() {
    .about-us {
        & .about-left {
            &::before {
            }
            @keyframes aboutus {
                0%, 100% { 
                }
                50% {
                }
            }
            & .about-loanicon {
                &::before {
            }
            & .about-title {           
            }
            & .about-title2 {
            }
            & .about-card {
                & .about-card-heading {
                    & .about-card-icon {
                    }
                }
                & .about-card-title {
                }
            }
        }
        & .about-us-img {
            &::before {
            }
            &::after {
            }
            & .about-img-content-main {
                &::before {
                }
                & .about-year {
                    & sup {
                    }
                }
                & .about-experience {
                }
            }
        }
        & .about-cardd {
            .about-card2 {
                & .about-card2-img {
                    &::before {
                    }
                    & .about-card2-icon {
                    }
                }
                & .about-card1-heading {
                }
                & .about-card1-title {
                }
                & .moredetail-btn {
                }
                &:hover {
                    & .about-card1-heading {
                    }
                    & .moredetail-btn {
                    }
                }
            }
        }
        }
    }
}
// Medium devices (tablets, 768px and up)
@mixin aboutus-mixin-min-md() {
    .about-us {
        & .about-left {
            &::before {
            }
            @keyframes aboutus {
                0%, 100% { 
                }
                50% {
                }
            }
            & .about-loanicon {
                &::before {
            }
            & .about-title {           
            }
            & .about-title2 {
            }
            & .about-card {
                & .about-card-heading {
                    & .about-card-icon {
                    }
                }
                & .about-card-title {
                }
            }
        }
        & .about-us-img {
            &::before {
            }
            &::after {
            }
            & .about-img-content-main {
                &::before {
                }
                & .about-year {
                    & sup {
                    }
                }
                & .about-experience {
                }
            }
        }
        & .about-cardd {
            .about-card2 {
                & .about-card2-img {
                    &::before {
                    }
                    & .about-card2-icon {
                    }
                }
                & .about-card1-heading {
                }
                & .about-card1-title {
                }
                & .moredetail-btn {
                }
                &:hover {
                    & .about-card1-heading {
                    }
                    & .moredetail-btn {
                    }
                }
            }
        }
        }
    }
}
// Large devices (desktops, 992px and up)
@mixin aboutus-mixin-min-lg() {
    .about-us {
        & .about-left {
            &::before {
            }
            @keyframes aboutus {
                0%, 100% { 
                }
                50% {
                }
            }
            & .about-loanicon {
                &::before {
            }
            & .about-title {           
            }
            & .about-title2 {
            }
            & .about-card {
                & .about-card-heading {
                    & .about-card-icon {
                    }
                }
                & .about-card-title {
                }
            }
        }
        & .about-us-img {
            &::before {
            }
            &::after {
            }
            & .about-img-content-main {
                &::before {
                }
                & .about-year {
                    & sup {
                    }
                }
                & .about-experience {
                }
            }
        }
        & .about-cardd {
            .about-card2 {
                & .about-card2-img {
                    &::before {
                    }
                    & .about-card2-icon {
                    }
                }
                & .about-card1-heading {
                }
                & .about-card1-title {
                }
                & .moredetail-btn {
                }
                &:hover {
                    & .about-card1-heading {
                    }
                    & .moredetail-btn {
                    }
                }
            }
        }
        }
    }
}
// X-Large devices (large desktops, 1200px and up)
@mixin aboutus-mixin-min-xl() {
    .about-us {
        & .about-left {
            &::before {
            }
            @keyframes aboutus {
                0%, 100% { 
                }
                50% {
                }
            }
            & .about-loanicon {
                &::before {
            }
            & .about-title {           
            }
            & .about-title2 {
            }
            & .about-card {
                & .about-card-heading {
                    & .about-card-icon {
                    }
                }
                & .about-card-title {
                }
            }
        }
        & .about-us-img {
            &::before {
            }
            &::after {
            }
            & .about-img-content-main {
                &::before {
                }
                & .about-year {
                    & sup {
                    }
                }
                & .about-experience {
                }
            }
        }
        & .about-cardd {
            .about-card2 {
                & .about-card2-img {
                    &::before {
                    }
                    & .about-card2-icon {
                    }
                }
                & .about-card1-heading {
                }
                & .about-card1-title {
                }
                & .moredetail-btn {
                }
                &:hover {
                    & .about-card1-heading {
                    }
                    & .moredetail-btn {
                    }
                }
            }
        }
        }
    }
}
// XX-Large devices (larger desktops, 1400px and up)
@mixin aboutus-mixin-min-xxl() {
    .about-us {
        & .about-left {
            &::before {
            }
            @keyframes aboutus {
                0%, 100% { 
                }
                50% {
                }
            }
            & .about-loanicon {
                &::before {
            }
            & .about-title {           
            }
            & .about-title2 {
            }
            & .about-card {
                & .about-card-heading {
                    & .about-card-icon {
                    }
                }
                & .about-card-title {
                }
            }
        }
        & .about-us-img {
            &::before {
            }
            &::after {
            }
            & .about-img-content-main {
                &::before {
                }
                & .about-year {
                    & sup {
                    }
                }
                & .about-experience {
                }
            }
        }
        & .about-cardd {
            .about-card2 {
                & .about-card2-img {
                    &::before {
                    }
                    & .about-card2-icon {
                    }
                }
                & .about-card1-heading {
                }
                & .about-card1-title {
                }
                & .moredetail-btn {
                }
                &:hover {
                    & .about-card1-heading {
                    }
                    & .moredetail-btn {
                    }
                }
            }
        }
        }
    }
}
// X-Large devices (large desktops, less than 1400px)
@mixin aboutus-mixin-max-xl() {
    .about-us {
        & .about-left {
            &::before {
            }
            @keyframes aboutus {
                0%, 100% { 
                }
                50% {
                }
            }
            & .about-loanicon {
                &::before {
            }
            & .about-title {           
            }
            & .about-title2 {
            }
            & .about-card {
                & .about-card-heading {
                    & .about-card-icon {
                    }
                }
                & .about-card-title {
                }
            }
        }
        & .about-us-img {
            &::before {
            }
            &::after {
            }
            & .about-img-content-main {
                &::before {
                }
                & .about-year {
                    & sup {
                    }
                }
                & .about-experience {
                }
            }
        }
        & .about-cardd {
            .about-card2 {
                & .about-card2-img {
                    &::before {
                    }
                    & .about-card2-icon {
                    }
                }
                & .about-card1-heading {
                }
                & .about-card1-title {
                }
                & .moredetail-btn {
                }
                &:hover {
                    & .about-card1-heading {
                    }
                    & .moredetail-btn {
                    }
                }
            }
        }
        }
    }
}
// Large devices (desktops, less than 1200px)
@mixin aboutus-mixin-max-lg() {
    .about-us {
        & .about-left {
            & .about-title2 {
                line-height: 22px;
            }
            & .about-card {
                & .about-card-icon {
                }
                & .about-card-heading {
                }
                & .about-card-title {
                }
            }
            }
        & .about-us-img {
            // max-width: 300px;
            &::before {
            }
            &::after {
                right: -10%;
            }
            & .about-img-content-main {
                padding: 20px 26px;
                right: -32px;
                &::before {
                }
                & .about-year {
                    font-size: 35px;
                    & sup {
                        font-size: 30px;
                    }
                }
                & .about-experience {
                }
            }
        }
    }
}
// Medium devices (tablets, less than 992px)
@mixin aboutus-mixin-max-md() {
    .about-us {
        & .about-left {
            & .about-title2 {
                font-size: 13px;
                line-height: 24px;
            }
            & .about-card {
                & .about-card-icon {
                    height: 25px;
                    width: 25px;
                }
                & .about-card-heading {
                    font-size: 15px;
                }
                & .about-card-title {
                    font-size: 13px;
                }
            }
            }
        & .about-us-img {
            // max-width: 300px;
            &::before {
            }
            &::after {
            }
            & .about-img-content-main {
                padding: 20px 24px;
                right: -30px;
                &::before {
                }
                & .about-year {
                    font-size: 32px;
                    & sup {
                        font-size: 28px;
                    }
                }
                & .about-experience {
                    font-size: 13px;
                }
            }
        }
    }
}
// Small devices (landscape phones, less than 768px)
@mixin aboutus-mixin-max-sm() {
    .about-us {
        & .about-left {
            & .about-title2 {
            }
            & .about-card {
                & .about-card-icon {
                    height: 24px;
                    width: 24px;
                }
                & .about-card-heading {
                    font-size: 14px;
                }
                & .about-card-title {
                }
            }
            }
        & .about-us-img {
            max-width: 370px;
            &::before {
            }
            &::after {
            }
            & .about-img-content-main {
                padding: 20px 24px;
                right: -30px;
                &::before {
                }
                & .about-year {
                    font-size: 29px;
                    & sup {
                        font-size: 26px;
                    }
                }
                & .about-experience {
                }
            }
        }
    }
}
// X-Small devices (portrait phones, less than 576px)
@mixin aboutus-mixin-max-xs() {
    .about-us {
        & .about-left {
            & .about-title2 {
                font-size: 12px;
                line-height: normal;
            }
            & .about-card {
                & .about-card-icon {
                    height: 22px;
                    width: 22px;
                }
                & .about-card-heading {
                    font-size: 13px;
                }
                & .about-card-title {
                    font-size: 12px;
                }
            }
            }
        & .about-us-img {
            max-width: 300px;
            &::before {
            }
            &::after {
            }
            & .about-img-content-main {
                padding: 18px 18px;
                right: -30px;
                &::before {
                }
                & .about-year {
                    font-size: 24px;
                    & sup {
                        font-size: 22px;
                    }
                }
                & .about-experience {
                    font-size: 10px;
                }
            }
        }
    }
}

@media screen  and (max-width:420px) {
    .about-us {
        & .about-left {
            & .about-title2 {
            }
            & .about-card {
                & .about-card-icon {
                }
                & .about-card-heading {
                }
                & .about-card-title {
                }
            }
            }
        & .about-us-img {
            &::before {
            }
            &::after {
                // right: 15%;
            }
            & .about-img-content-main {
                &::before {
                }
                & .about-year {
                    & sup {
                    }
                }
                & .about-experience {
                }
            }
        }
    }
}