@include media-breakpoint(basic) {

}

@include media-breakpoint-up(sm) {

}

@include media-breakpoint-up(md) {

}

@include media-breakpoint-up(lg) {

}

@include media-breakpoint-up(xl) {

}

@include media-breakpoint-up(xxl) {
    .navbar {
        height: 87.5px;
    }
    .navbar .nav-logo {
        height: 81.25px;
    }
    .navbar .navbar-nav .nav-item .nav-link {
        font-size: 20px;
    }
    .themBtn {
        font-size: 18.75px;
        // padding: 0.7rem 2.4rem 0.7rem 2.4rem;
    }
    .container {
        max-width: 1400px;
    }
    .hero-section .swiper-slide .hero-heading {
        font-size: 75px;
    }
    .hero-section .swiper-slide .hero-title {
        font-size: 21.25px;
    }
    .hero-section .innercontainer .scroll {
        font-size: 20px;
    }
    .hero-section .innercontainer .scroll span img {
        height: 37.5px;
    }
    .hero-section {
        min-height: 562.5px;
    }
}


@include media-breakpoint-down(xxl) {
}

@include media-breakpoint-down(xl) {

}

@include media-breakpoint-down(lg) {

}

@include media-breakpoint-down(md) {

}

@include media-breakpoint-down(sm) {

}
